<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentCourse</title>
</head>
<body>
     <h1>Add StudentCourses</h1>
    <form method='POST'>
        {% csrf_token%}
        {{ form.as_p}}
        <button type="submit"> CreateStudentCourse</button>
    </form>
    <h1>List of students Courses</h1>
    {% for st in student_course %}
        <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        StudentCourse student: {{ st.student}}<br>
        StudentCourse course: {{ st.course}}<br>

    {% endfor %}
</body>
</html>